@use "../../styles/variables.scss" as constants;
@import url("https://fonts.googleapis.com/css2?family=Ballet:opsz@16..72&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oranienbaum&display=swap");

.about {
  width: 100%;
  // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Title ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  .title-container {
    background: linear-gradient(
      to bottom,
      constants.$dark-middle-bg,
      constants.$soft-bg,
      constants.$main-bg
    );
    .title {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 8em;
      color: constants.$white-color;
      padding-bottom: 70px;
      .ballet-font {
        font-family: "Ballet", cursive;
        margin-bottom: -0.62em;
      }
      .oranienbaum-font {
        font-family: "Oranienbaum", serif;
        font-size: 1.2em;
      }
    }
    .star {
      position: absolute;
      width: 100%;
      height: 100%;
      pointer-events: none;
    }
    #star1 {
      top: 13%;
      left: 6%;
    }
    #star2 {
      top: 9%;
      left: 22%;
    }
    #star3 {
      top: 22%;
      left: 16%;
    }
    #star4 {
      top: 32%;
      left: 30%;
    }
    #star5 {
      top: 31%;
      left: 10%;
    }
    #star6 {
      top: 10%;
      left: 14%;
    }
    #star7 {
      top: 28%;
      left: 5%;
    }
    #star8 {
      top: 26%;
      left: 20%;
    }
    #star9 {
      top: 41%;
      left: 24%;
    }
    #star10 {
      top: 25%;
      left: 28%;
    }
    #star11 {
      top: 12%;
      left: 33%;
    }
    #star12 {
      top: 13%;
      left: 89%;
    }
    #star13 {
      top: 9%;
      left: 73%;
    }
    #star14 {
      top: 22%;
      left: 83%;
    }
    #star15 {
      top: 32%;
      left: 65%;
    }
    #star16 {
      top: 31%;
      left: 82%;
    }
    #star17 {
      top: 10%;
      left: 85%;
    }
    #star18 {
      top: 28%;
      left: 90%;
    }
    #star19 {
      top: 26%;
      left: 76%;
    }
    #star20 {
      top: 41%;
      left: 73%;
    }
    #star21 {
      top: 23%;
      left: 70%;
    }
  }

  // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ About Us ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  .about-us {
    padding-bottom: 40px;
    border-bottom: 2px solid constants.$black-color;

    .about-us-container {
      padding: 30px 10% 0px 10%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      img {
        width: 350px;
        height: auto;
      }
      .description {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-right: 10%;
        p {
          text-align: justify;
        }
      }
    }
  }
  // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Tabbed Panel ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  .tabbed-panel {
    background: constants.$soft-bg;
    color: constants.$white-color;
    padding: 40px;
  }

  // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Meet Us ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  .meet-us {
    border-top: 2px solid constants.$black-color;
    h2 {
      padding-block: 20px;
    }
    .team-member-slider {
      width: 100%;
    }
  }
}
