.filter-container {
  .filter__control {
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: none;
    min-width: 200px;

    &:hover {
      border-color: pink;
    }
  }

  .filter__option {
    background-color: white;
    color: #333;

    &--is-focused {
      background-color: pink;
      color: #000;
    }

    &--is-selected {
      background-color: #ddd;
      color: #000;
    }
  }
}
