.filter-container {
  max-width: 400px;
  flex: 1;
  .filter__control {
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: none;

    &:hover {
      border-color: #888;
    }
  }

  .filter__option {
    background-color: red;
    color: #333;

    &--is-focused {
      background-color: #f0f0f0;
      color: #000;
    }

    &--is-selected {
      background-color: #ddd;
      color: #000;
    }
  }
}
