@use "./variables.scss" as constants;
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.main {
  font-family: "Cinzel", serif;
  background-color: constants.$main-bg;
  color: constants.$black-color;
}

.contentContainer {
  padding: 5px 20px;
  width: 100%;
}
