@use "./variables.scss" as constants;
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.main {
  font-family: "Roboto", serif;
  background-color: constants.$main-bg;
  color: constants.$black-color;
}

.contentContainer {
  width: 100%;
}

h2 {
  font-size: 3rem;
  font-weight: 300;
  color: constants.$black-color;
  padding-left: 30px;
  border-bottom: 2px solid constants.$black-color;
}
