$main-bg: #ffffff;
$light-bg: #f7cfe9;
$soft-bg: #c33764;
$middle-bg: #9a3367;
$dark-middle-bg: #472a6e;
$dark-bg: #1d2671;
$white-color: white;
$black-color: black;
$extra-dark-middle-bg: #5a254b;
$extra-middle-bg: #702f6b;
