@use "../../styles/variables.scss" as constants;

.contact {
  position: relative;
  .contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    margin-left: 20%;
    text-align: center;
    .title {
      font-size: 4em;
      font-weight: 600;
      color: constants.$black-color;
      margin-bottom: 10px;
    }
    .findhelpline {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 60px;
      color: constants.$white-color;
      border-radius: 30px;
      margin-block: 30px;
      background: linear-gradient(
        to right,
        constants.$extra-middle-bg,
        constants.$soft-bg
      );
      span {
        font-size: 2.5em;
      }
    }
    .background-photo {
      position: absolute;
      z-index: 0;
    }
    #photo1 {
      bottom: 10%;
      left: -1%;
      height: 50em;
    }
    #photo2 {
      bottom: 36%;
      right: 0;
      height: 30em;
    }
    #photo3 {
      bottom: 0;
      right: 0;
      height: 20em;
    }
    .text {
      margin-bottom: 17px;
      span {
        font-size: 1.5em;
        color: constants.$black-color;
        font-weight: 500;
      }
    }
    @media (max-width: 1160px) {
      width: 70%;
      margin-left: 15%;

      .background-photo {
        display: none;
      }
    }
    @media (max-width: 1160px) {
      .findhelpline {
        span {
          font-size: 2em;
        }
      }
    }
    @media (max-width: 750px) {
      .findhelpline {
        span {
          font-size: 1.5em;
          a {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
