@use "../../styles/variables.scss" as constants;

.filteredlist {
  .stories {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 20px;
    align-items: center;
    .story {
      display: flex;
      flex-direction: column;
      position: relative;

      width: 85%;
      padding: 15px;
      background: constants.$light-bg;
      border-radius: 15px;
      p {
        padding-left: 25px;
      }
      .info-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 5px;
        margin-bottom: 10px;
      }
      .short-description {
        margin-top: 5px;
      }
      button {
        align-self: flex-end; // Moves the button to the right
        margin-top: 10px;
        padding: 8px 12px;
        background: constants.$light-bg;
        color: constants.$black-color;
        border: 2px solid constants.$black-color;
        border-radius: 5px;
        cursor: pointer;
        font-weight: 600;
        transition: background-color 0.3s, color 0.3s;
        &:hover {
          background: constants.$soft-bg;
        }
      }
      .long-description {
        margin-top: 15px;
        .title {
          margin-bottom: 5px;
          text-align: center;
        }
      }
    }
  }

  .pagination {
    .pagination button {
      padding: 8px 12px;
      border: 1px solid #ccc;
      background-color: #f9f9f9;
      cursor: pointer;
      transition: background-color 0.3s, color 0.3s;
    }

    .pagination button.active {
      background-color: red; /* Red background for active button */
      color: white; /* White text for contrast */
      border-color: red; /* Red border for consistency */
    }

    .pagination button:disabled {
      background-color: #e0e0e0;
      cursor: default;
    }
  }
}
