@use "../../../styles/variables.scss" as constants;

.filter-container {
  width: 100%;

  .filter__indicator-separator {
    display: none;
  }
  // The "x" (remove) icon for all selected options
  .filter__clear-indicator {
    display: none;
  }

  .filter__placeholder {
    color: constants.$white-color;
  }

  .filter__input {
    color: constants.$white-color !important;
  }

  .filter__menu {
    background-color: constants.$soft-bg;
    border: 2px solid constants.$black-color;
  }

  // Changes to the filter input
  .filter__multi-value {
    background: constants.$soft-bg;
    color: red;
    border: 2px solid white;
    border-radius: 5px;
  }
  .filter__multi-value__label {
    color: white;
  }
  .filter__multi-value__remove {
    color: black;
    cursor: pointer;
    &:hover {
      background-color: red;
      color: black;
    }
  }

  .filter__control {
    cursor: pointer;

    background-color: constants.$soft-bg;
    border: none;
    border-radius: 0;
    box-shadow: none;
    text-align: center;
  }

  .filter__dropdown-indicator {
    // display: none;
    color: constants.$white-color;
    transition: color 0.2s;
    &:hover {
      color: constants.$black-color;
    }
  }

  .filter__option {
    background-color: constants.$soft-bg;
    color: constants.$white-color;

    &--is-focused {
      background-color: constants.$light-bg;
      color: constants.$black-color;
    }
  }
}
