@use "../../styles/variables.scss" as constants;

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 20px;
  padding-inline: 7%;
  width: 100%;
  color: constants.$white-color;
  background: linear-gradient(
    to bottom,
    constants.$soft-bg,
    constants.$dark-bg
  );
  .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      width: 60px;
      height: auto;
    }
  }
}
