.team-member-slider {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-inline: 0px;
  padding-block: 40px;
  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  .team-member-image {
    width: 50%;
    height: auto;
    border-radius: 50%;
  }
  .team-member-info {
    padding-left: 30px;
    text-align: justify;
  }
}
