@use "../../styles/variables.scss" as constants;

.team-member-slider {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-inline: 0px;
  padding-block: 40px;
  width: 80%;
  button {
    width: 15%;
    background-color: transparent;
    border: none;
    cursor: pointer;
    .material-icons {
      font-size: 130px;
      color: constants.$middle-bg;
      &:hover {
        opacity: 0.7;
      }
    }
  }
  .team-member-image {
    width: 15%;
    height: auto;
    border-radius: 50%;
    border: 2px solid constants.$middle-bg;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }
  .team-member-info {
    width: 40%;
    padding-left: 5%;
    text-align: justify;
  }
}
