@use "../../styles/variables.scss" as constants;

.filters-container {
  .filters {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    background: constants.$soft-bg;
    padding-bottom: 10px;
  }
}
